.favorites-container {
    width: 50%;
    padding: 20px;
  }
  
  .favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .favorite-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.33% - 20px); 
    margin-bottom: 20px;
  }
  
  .favorite-card h3 {
    margin-bottom: 10px;
  }
  
  .favorite-card p {
    margin-bottom: 5px;
  }
  
  .flag-img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  